<div class="flex flex-col justify-center items-center w-full h-screen gap-5">
  <h2 class="text-3xl">Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { "data-turbo": "false", method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "w-full", autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions mt-5">
      <%= f.submit "Resend confirmation instructions", class: "px-5 py-2.5 text-white bg-purple-700 hover:cursor-pointer hover:bg-purple-800 w-full" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
