<% if user_signed_in? %>
  <%= form_with model: comment, url: user_post_comments_url(user_id: current_user.id, post_id: post.id), method: :post, class: "p-10 mt-10 border-solid border-4 border-sky-500" do |f| %>
    <%= f.hidden_field :post, value: post.id %>
    <div class="flex flex-col mb-4">
      <%= f.label :text, class: "text-2xl" %>
      <%= f.text_area :text, class: "text-xl" %>
    </div>
    <%= f.submit 'Comment', class: "bg-sky-700 text-white px-5 py-2.5 hover:cursor-pointer hover:bg-red-700" %>
  <% end %>
<% else %>
  <h2 class="mt-10 text-3xl"> Log in to add comments, like, and create posts! </h2>
<% end %>

