<%= form_with model: comment, method: :post do |f| %>
  <%= f.hidden_field :post, value: post.id %>
  <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <%= f.submit 'Comment' %>
<% end %>
