<div class="posts">
  <div class="card-info post">
    <h3> <%=@post.title%> by <%= @user.name%> </h3>
    <p> <%= @post.text%> </p>
    <p class="placeholder stats placeholder-top"> Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %> </p>
  </div>
  <div class="card-info">
    <%= render partial: 'partials/comment', collection: @post.comments %> 
  </div>
  <%= render 'partials/comment_form', comment: @comment, user: @user, post: @post %>
</div>
