<div class="flex flex-col">
  <div class="relative p-12 border-solid border-4 border-gray-700">
    <h3 class="text-3xl mb-8"> <%=@post.title%> by <%= @user.name%> </h3>
    <p class="text-xl"> <%= @post.text%> </p>
    <p class="absolute right-4 bottom-4"> Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %> </p>
    <%= render 'partials/like', post: @post, like: @like %>
  </div>
  <div class="p-10 border-solid border-4 border-sky-700">
    <%= render partial: 'partials/comment', collection: @post.comments %> 
  </div>
  <%= render 'partials/comment_form', comment: @comment, post: @post %>
</div>
