<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %> 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %> 
    <%= stylesheet_link_tag "partials", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <% if user_signed_in?%>
      <header class="flex items-center justify-between w-full h-32 bg-slate-800 p-10 mb-9">
        <h2 class="text-4xl text-white"> Welcome, <%= current_user.name %> </h2>
        <div class="flex items-center gap-4">
          <%= link_to 'Create New Post', posts_new_path, class: "px-5 py-2.5 text-white bg-sky-700 hover:cursor-pointer hover:bg-sky-600" %>
          <%= link_to 'Log out' , destroy_user_session_path, method: :delete, class: "px-5 py-2.5 text-white bg-red-700 hover:cursor-pointer hover:bg-red-800" %>
        </div>
      </header>
    <% end %>
    <main class="container mx-auto px-5 flex">
      <% if notice %>
        <p class="absolute left-0 top-0 text-center text-xl text-white bg-sky-900 p-2.5"><%= notice %></p>
      <% end%>
      <% if alert %>
        <p class="absolute left-0 top-0 text-center text-xl text-white bg-red-900 p-2.5"><%= alert %></p>
      <% end%>    
      <%= yield %>
    </main>
  </body>
</html>
