<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%
=begin%>
 <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %> 
<%
=end%>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%
=begin%>
 <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %> 
<%
=end%>
    <%= stylesheet_link_tag "partials", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto px-5 flex">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in?%>
        <%= current_user.email%>
      <%= link_to 'Log out' , destroy_user_session_path, method: :delete%>
      <% else %>
        <%= link_to 'Log in', new_user_session_path %> 
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
